*{
  margin: 0px;
  padding: 0px;
}
#container{
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  color: white;
}
nav{
  padding-top: 2px;
  background-color: #2196f3;
}
#main{
  background-color: green;
}
ul#header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2196f3;
}

li.header {
    float: left;
}
h1{
  text-align: center;
}
li.header a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #2196f3;
}
li a.active{
    background-color: #2196f3;
}

li a:hover {
    background-color: #0b6dd6;
}
li#right{
  float: right;
}
nav img{
  position: absolute;
  margin-left: 484px;
}
footer{
    background-color: #2196f3;
}
.footerparts{
  float: left;
  margin: 10px 0px 10px 30px;
  width: 226px;
}
.footerparts h2{
  margin-bottom: 10px;
}
#botfooter{
  padding-top: 4px;
  padding-bottom: 4px;
  clear: left;
  background-color: green;
}
.footer{
  list-style: none;
}
.footer a{
  color: white;
  text-decoration: none;
}
.footer a:hover{
  background-color: #2196f3;
}
